<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResumeIQ - Registered</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <div class="logo">Resume<span>IQ</span></div>
</header>

<main class="page center">
    <section class="card message-card">
        <h1>Account Registered</h1>
        <p class="subtitle">
            Your account has been registered successfully.
        </p>

        <a class="big-button" href="{{ url_for('login') }}">
            Please Back to Login
        </a>
    </section>
</main>

</body>
</html>
